#! /bin/bash
sudo yum update -y
sudo yum install -y ${package_name}
sudo yum list installed | grep ${package_name} >> /tmp/package-installed-list.txt
sudo service ${package_name} start  
sudo systemctl enable ${package_name}
sudo echo "<h1>Hostname: $HOSTNAME</h1>" > /var/www/html/index.html
REGION=`echo $HOSTNAME | cut -d. -f2`
sudo echo "<h1>Welcome to C2DM created using Terraform in $REGION Region</h1>" >> /var/www/html/index.html
